# Default ignored files
/shelf/
/workspace.xml
*.iml
.gradle
android/local.properties
.android/local.properties
local.properties
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/.idea/codeStyles/codeStyleConfig.xml
/.idea/gradle.xml
/.idea/kotlinCodeInsightSettings.xml
/.idea/misc.xml
/.idea/dictionaries
/.idea/codeStyles/Project.xml
/.idea/runConfigurations.xml
/.idea/vcs.xml
/.idea/jarRepositories.xml
/.idea/sonarlint
/.idea/deploymentTargetDropDown.xml
/.idea/shelf/Changes.xml
/.idea/compiler.xml
/misc.xml
/modules.xml
/vcs.xml
/.idea/.name
/app/src/main/res/xml/data_extraction_rules.xml
/app/src/androidTest/java/com/filadelfija/biblija/ExampleInstrumentedTest.kt
/app/src/test/java/com/filadelfija/biblija/ExampleUnitTest.kt
/gradle.properties
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/gradlew
/gradlew.bat
/app/proguard-rules.pro
/.idea/.gitignore
/app/.gitignore
